<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	<!--XML configuration-->
	<context:property-placeholder location="classpath:Resourses/Detail.properties" />

	<bean id="fortune"
		  class="com.spring.xml.DI.setterInjection.HappyFortuneService" />

	<bean id="cricketCoach"
		  class="com.spring.xml.DI.setterInjection.CricketCoach">
		<property name="theFortuneService" ref="fortune"/>
		<property name="conatctNumber" value="${CricketCoach.mobile}" />
		<property name="nameOfCoach" value="CricketCoach.name" />
  	</bean>


</beans>





